
.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
    left: 0;
    position: absolute;
    top: 0;
}
.leaflet-container {
    overflow: hidden;
}
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
    -moz-user-select: none;
}
.leaflet-marker-icon, .leaflet-marker-shadow {
    display: block;
}
.leaflet-container img {
    max-width: none !important;
}
.leaflet-container img.leaflet-image-layer {
    max-width: 15000px !important;
}
.leaflet-tile {
    filter: inherit;
    visibility: hidden;
}
.leaflet-tile-loaded {
    visibility: inherit;
}
.leaflet-zoom-box {
    height: 0;
    width: 0;
}
.leaflet-overlay-pane svg {
    -moz-user-select: none;
}
.leaflet-tile-pane {
    z-index: 2;
}
.leaflet-objects-pane {
    z-index: 3;
}
.leaflet-overlay-pane {
    z-index: 4;
}
.leaflet-shadow-pane {
    z-index: 5;
}
.leaflet-marker-pane {
    z-index: 6;
}
.leaflet-popup-pane {
    z-index: 7;
}
.leaflet-control {
    pointer-events: auto;
    position: relative;
    z-index: 7;
}
.leaflet-top, .leaflet-bottom {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}
.leaflet-top {
    top: 0;
}
.leaflet-right {
    right: 0;
}
.leaflet-bottom {
    bottom: 0;
}
.leaflet-left {
    left: 0;
}
.leaflet-control {
    clear: both;
    float: left;
}
.leaflet-right .leaflet-control {
    float: right;
}
.leaflet-top .leaflet-control {
    margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
    margin-left: 10px;
}
.leaflet-right .leaflet-control {
    margin-right: 10px;
}
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    transition: opacity 0.2s linear 0s;
}
.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}
.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
    transition: none 0s ease 0s ;
}
.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}
.leaflet-clickable {
    cursor: pointer;
}
.leaflet-container {
    cursor: grab;
}
.leaflet-popup-pane, .leaflet-control {
    cursor: auto;
}
.leaflet-dragging, .leaflet-dragging .leaflet-clickable, .leaflet-dragging .leaflet-container {
    cursor: grabbing;
}
.leaflet-container {
    background: #ddd none repeat scroll 0 0;
    outline: 0 none;
}
.leaflet-container a {
    color: #0078a8;
}
.leaflet-container a.leaflet-active {
    outline: 2px solid orange;
}
.leaflet-zoom-box {
    background: white none repeat scroll 0 0;
    border: 2px dotted #05f;
    opacity: 0.5;
}
.leaflet-container {
    font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.leaflet-bar {
    border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}
.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: black;
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    width: 26px;
}
.leaflet-bar a, .leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
.leaflet-bar a:hover {
    background-color: #f4f4f4;
}
.leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.leaflet-bar a:last-child {
    border-bottom: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.leaflet-bar a.leaflet-disabled {
    background-color: #f4f4f4;
    color: #bbb;
    cursor: default;
}
.leaflet-touch .leaflet-bar {
    border-radius: 10px;
}
.leaflet-touch .leaflet-bar a {
    height: 30px;
    width: 30px;
}
.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.leaflet-touch .leaflet-bar a:last-child {
    border-bottom: medium none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.leaflet-control-zoom-in {
    font: bold 18px "Lucida Console",Monaco,monospace;
}
.leaflet-control-zoom-out {
    font: bold 22px "Lucida Console",Monaco,monospace;
}
.leaflet-touch .leaflet-control-zoom-in {
    font-size: 22px;
    line-height: 30px;
}
.leaflet-touch .leaflet-control-zoom-out {
    font-size: 28px;
    line-height: 30px;
}
.leaflet-control-layers {
    background: #f8f8f9 none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}
.leaflet-control-layers-toggle {
    background-image: url("/assets/layers-a47b91c258b5a305ac4654cfbe62337b.png");
    height: 36px;
    width: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url("/assets/layers-2x-b2eeffdebf879feec1c55211f6840550.png");
    background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-layers-toggle {
    height: 44px;
    width: 44px;
}
.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}
.leaflet-control-layers-expanded {
    background: #fff none repeat scroll 0 0;
    color: #333;
    padding: 6px 10px 6px 6px;
}
.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}
.leaflet-control-layers label {
    display: block;
}
.leaflet-control-layers-separator {
    border-top: 1px solid #ddd;
    height: 0;
    margin: 5px -10px 5px -6px;
}
.leaflet-container .leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    margin: 0;
}
.leaflet-control-attribution, .leaflet-control-scale-line {
    color: #333;
    padding: 0 5px;
}
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 11px;
}
.leaflet-left .leaflet-control-scale {
    margin-left: 5px;
}
.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
}
.leaflet-control-scale-line {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: -moz-use-text-color #777 #777;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 11px;
    line-height: 1.1;
    overflow: hidden;
    padding: 2px 5px 1px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.leaflet-control-scale-line:not(:first-child) {
    border-bottom: medium none;
    border-top: 2px solid #777;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: -2px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom: 2px solid #777;
}
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    box-shadow: none;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 4px solid rgba(0, 0, 0, 0.3);
}
.leaflet-popup {
    position: absolute;
    text-align: center;
}
.leaflet-popup-content-wrapper {
    border-radius: 12px;
    padding: 1px;
    text-align: left;
}
.leaflet-popup-content {
    line-height: 1.4;
    margin: 13px 19px;
}
.leaflet-popup-content p {
    margin: 18px 0;
}
.leaflet-popup-tip-container {
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40px;
}
.leaflet-popup-tip {
    height: 17px;
    margin: -10px auto 0;
    padding: 1px;
    transform: rotate(45deg);
    width: 17px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white none repeat scroll 0 0;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.leaflet-container a.leaflet-popup-close-button {
    background: transparent none repeat scroll 0 0;
    color: #c3c3c3;
    font: bold 16px/14px Tahoma,Verdana,sans-serif;
    height: 14px;
    padding: 4px 4px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 18px;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    color: #999;
}
.leaflet-popup-scrolled {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    overflow: auto;
}
.leaflet-div-icon {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #666;
}
.leaflet-editing-icon {
    border-radius: 2px;
}
